/* Current Time Indicator */
.rbc-current-time-indicator {
  border: none !important;
  background-color: rgb(216, 178, 178) !important;
  height: 2px !important;
}

.dark .rbc-current-time-indicator {
  background-color: white !important;
}
