/* Classes
rbc-time-gutter rbc-time-column
rbc-timeslot-group
rbc-time-slot
rbc-label
*/

/* Whole Time Axis*/
.rbc-time-gutter {
  border: none !important;
}

/* timeslot within the time axis */
.rbc-time-gutter .rbc-time-slot {
  border: none !important;
}

/* Dark mode */
.dark .rbc-time-gutter .rbc-time-slot {
  border-right: 0.25px solid var(--border) !important;
  border-bottom: 0.25px solid var(--border) !important;
}

/* Light mode */
.light .rbc-time-gutter .rbc-time-slot {
  border-right: 0.25px solid var(--border) !important;
  border-bottom: 0.25px solid var(--border) !important;
}

/* Time Slots group i.e. timeslot prop of calendar */
.rbc-timeslot-group {
  border: none !important;
  position: relative;
}

/* Create bottom border using pseudo-element */
/* .rbc-timeslot-group::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25px;
  background-color: rgb(255, 255, 255, 0.1);
  z-index: -1000;
} */

/* Time Slot within the time column */
.rbc-day-slot .rbc-time-slot {
  border: none !important;
}

/* Time Slot Label */
.rbc-time-slot .rbc-label {
  border: none !important;
  padding: 0.25rem 0.5rem;
  color: #4b5563;
  font-size: 0.75rem;
  font-weight: 500;
}
