/* Current Time Indicator */
.rbc-current-time-indicator {
  border: none !important;
  background-color: darkred !important;
}

.dark .rbc-current-time-indicator {
  background-color: white !important;
}
