/* Classes
rbc-calendar
rbc-time-view
rbc-time-content
*/

/* Main Calendar Container */
.rbc-calendar {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  outline: none !important;
}

/* Time Grid */
.rbc-time-view {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  outline: none !important;
}

/* Time Axis + Day Slot */
.rbc-time-content {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  outline: none !important;
}

/* General Styles */
/* .rbc-time-view,
.rbc-time-content,
.rbc-time-column,
.rbc-timeslot-group,
.rbc-time-slot,
.rbc-event {
  transition: all 0.2s ease-in-out;
} */

/* Responsive Design */
@media (max-width: 768px) {
  .rbc-time-view {
    font-size: 0.875rem;
  }

  .rbc-time-slot .rbc-label {
    padding: 0.125rem 0.25rem;
  }

  .rbc-event {
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
  }
}
